apiVersion: v2
name: coroot
description: A monitoring and troubleshooting tool for microservice architectures.
type: application
version: 0.12.3
appVersion: "1.2.0"
dependencies:
  - name: prometheus
    repository: https://prometheus-community.github.io/helm-charts
    version: 15.16.*
    condition: prometheus.enabled
  - name: node-agent
    version: 0.1.78
    repository: https://coroot.github.io/helm-charts
    condition: node-agent.enabled
  - name: clickhouse
    version: 3.1.*
    repository: https://charts.bitnami.com/bitnami
    condition: clickhouse.enabled
